.rightbar{
    flex: 2.4;
}

.rightbarWrapper{
    padding: 20px 20px 0 0;
}

.birthdayImg{
    width: 65px;
    height: 65px;
    margin-right: 10px;
    margin-left: 10px;
}

.birthdayText{
    font-weight: 300;
    font-size: 15px;
}

.birthdayContainer{
    display: flex;
    align-items: center;
}

.rightbarAd{
    width: 400px;
    height: 400px;
    border-radius:10px ;
    margin: 30px 0;
    margin-left: 50px;
    margin-top: 5px;
}

.rightbarFriend{
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    cursor: pointer;
}

.rightbarProfileImgContainer{
    margin-right: 10px;
    position: relative;
}

.rightbarProfileImg{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
}

.rightbarOnline{
    width: 12px;
    height: 12px;
    border-radius:50% ;
    background-color: limegreen;
    position: absolute;
    top: -2px;
    right: 0;
    border: 2px solid white;
}

.rightbarUsername{
    font-weight: 500;
}

.rightbarTitle{
    margin-bottom: 20px;
    margin-left: 15px;
}